<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Beschreibung</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.task %></td>
    <td><%= task.beschreibung %></td>
    <td><%= link_to 'Zeige Task', task %></td>
    <td><%= link_to 'Bearbeite Task', edit_task_path(task) %></td>
    <td><%= link_to 'Lösche Task', task, method: :delete, data: { confirm: 'Wollen Sie den Task löschen?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuen Task anlegen', new_task_path %>
