<h1>Listing requests</h1>

<table>
  <tr>
    <th>Request</th>
    <th>Verantwortlicheritsg</th>
    <th>Verantwortlichergkvfachl</th>
    <th>Verantwortlichergkvit</th>
    <th>Verantwortlichertd</th>
    <th>Entwickler TD</th>
    <th>Kst</th>
    <th>Beschreibung</th>
    <th>Sonderstatus</th>
    <th>Analyse und design</th>
    <th>Fachl freigabe implementierung</th>
    <th>Tech freigabe implementierung</th>
    <th>Fachl freigabe implementierung</th>
    <th>Abnahme teradata</th>
    <th>Fachliche abnahme</th>
    <th>Technische abnahme</th>
    <th>Migration</th>
    <th>Produktion</th>
    <th>Ziel migration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.request %></td>
    <td><%= request.verantwortlicherITSG %></td>
    <td><%= request.verantwortlicherGKVfachl %></td>
    <td><%= request.verantwortlicherGKVit %></td>
    <td><%= request.verantwortlicherTD %></td>
    <td><%= request.realisierungTD %></td>
    <td><%= request.KST %></td>
    <td><%= request.beschreibung %></td>
    <td><%= request.sonderstatus %></td>
    <td><%= request.analyse_und_design %></td>
    <td><%= request.fachl_freigabe_implementierung %></td>
    <td><%= request.tech_freigabe_implementierung %></td>
    <td><%= request.fachl_freigabe_implementierung %></td>
    <td><%= request.abnahme_teradata %></td>
    <td><%= request.fachliche_abnahme %></td>
    <td><%= request.technische_abnahme %></td>
    <td><%= request.migration %></td>
    <td><%= request.produktion %></td>
    <td><%= request.ziel_migration %></td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request', new_request_path %>
