<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @request.request %>
</p>

<p>
  <b>Verantwortlicheritsg:</b>
  <%= @request.verantwortlicherITSG %>
</p>

<p>
  <b>Verantwortlichergkv:</b>
  <%= @request.verantwortlicherGKV %>
</p>

<p>
  <b>Verantwortlichertd:</b>
  <%= @request.verantwortlicherTD %>
</p>

<p>
  <b>Entwickler:</b>
  <%= @request.entwickler %>
</p>

<p>
  <b>Kst:</b>
  <%= @request.KST %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @request.beschreibung %>
</p>

<p>
  <b>Sonderstatus:</b>
  <%= @request.sonderstatus %>
</p>

<p>
  <b>Analyse und design:</b>
  <%= @request.analyse_und_design %>
</p>

<p>
  <b>Fachl freigabe implementierung:</b>
  <%= @request.fachl_freigabe_implementierung %>
</p>

<p>
  <b>Tech freigabe implementierung:</b>
  <%= @request.tech_freigabe_implementierung %>
</p>

<p>
  <b>Fachl freigabe implementierung:</b>
  <%= @request.fachl_freigabe_implementierung %>
</p>

<p>
  <b>Abnahme teradata:</b>
  <%= @request.abnahme_teradata %>
</p>

<p>
  <b>Fachliche abnahme:</b>
  <%= @request.fachliche_abnahme %>
</p>

<p>
  <b>Technische abnahme:</b>
  <%= @request.technische_abnahme %>
</p>

<p>
  <b>Migration:</b>
  <%= @request.migration %>
</p>

<p>
  <b>Produktion:</b>
  <%= @request.produktion %>
</p>

<p>
  <b>Ziel migration:</b>
  <%= @request.ziel_migration %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
